.icon-star {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-left: 14px;
    margin-top: 8px;
}

#cocktail-image {
    width: 100%;
}